/* Reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Custom properties */
:root {
  /* Fonts */
  --font-family-default: "Quicksand", sans-serif;
  --font-weight-default: 300;
  --font-family-heading: "Raleway", serif;
  --font-weight-heading: 400;

  /* Colour palette */
  --color-grayscale-20: hsl(0, 0%, 20%);
  --color-grayscale-35: hsl(0, 0%, 35%);
  --color-grayscale-40: hsl(0, 0%, 40%);
  --color-grayscale-45: hsl(0, 0%, 45%);
  --color-grayscale-80: hsl(0, 0%, 80%);
  --color-grayscale-85: hsl(0, 0%, 85%);

  --color-sandscale-pale: hsl(35, 10%, 76%);
  --color-sandscale-light: hsl(35, 10%, 65%);
  --color-sandscale-medium: hsl(36, 9%, 58%);
  --color-sandscale-dark: hsl(38, 10%, 38%);
  --color-stonescale-mute: hsl(195, 6%, 26%);
  --color-stonescale-intense: hsl(228, 15%, 25%);

  /* Colour locations */
  --color-background: white;
  --color-link: hsl(240, 100%, 45%);
  --color-link-visited: hsl(270, 68%, 32%);
  --color-text-default: var(--color-grayscale-20);
  --color-heading-default: var(--color-grayscale-20);
  --color-heading-gentle: var(--color-grayscale-45);
  --color-heading-mild: var(--color-grayscale-35);
  --color-heading-intense: var(--color-grayscale-20);
  --color-divider: var(--color-grayscale-80);
  --color-chip-bg: var(--color-grayscale-85);
  --color-chip-text: var(--color-text-default);
  --color-button-border: var(--color-grayscale-80);
  --color-button-border-active: var(--color-grayscale-40);
  --color-button-background: transparent;
  --color-button-background-active: var(--color-grayscale-85);
  --color-button-icon: var(--color-grayscale-40);
}

/* Dark mode colour settings */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(230, 18%, 15%);
    --color-link: hsl(217, 90%, 77%);
    --color-link-visited: hsl(270, 75%, 80%);
    --color-text-default: var(--color-sandscale-pale);
    --color-heading-default: var(--color-sandscale-pale);
    --color-heading-gentle: var(--color-sandscale-medium);
    --color-heading-mild: var(--color-sandscale-light);
    --color-heading-intense: var(--color-sandscale-pale);
    --color-divider: var(--color-stonescale-mute);
    --color-chip-bg: var(--color-stonescale-intense);
    --color-chip-text: var(--color-text-default);
    --color-button-border: var(--color-stonescale-mute);
    --color-button-border-active: var(--color-sandscale-dark);
    --color-button-background: transparent;
    --color-button-background-active: var(--color-stonescale-intense);
    --color-button-icon: var(--color-sandscale-pale);
  }
}

/* Project styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-default);
  font-family: var(--font-family-default);
  font-size: 0.625rem;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 840px;
  padding-block: 6em;
  padding-inline: 2em;
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

.heading {
  color: var(--color-heading-default);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.heading--page-title {
  color: var(--color-heading-intense);
  font-size: 4.8em;
  font-weight: 200;
}

.heading--page-subtitle {
  color: var(--color-heading-gentle);
  font-size: 2.6em;
  font-weight: 200;
  margin-block-start: 0.4em;
}

.heading--section-title {
  border-block-end: 1px solid var(--color-divider);
  font-size: 1.8em;
  padding-block-end: 0.6em;
}

.heading--subsection-title {
  font-size: 1.6em;
}

.heading--subsection-line-title {
  color: var(--color-heading-mild);
  font-size: 1.4em;
  font-style: italic;
  font-weight: 500;
}

.resume-section {
  margin-block-start: 4em;
  scroll-margin-block-start: 2em;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4em;
  margin-block-start: -0.35em;
  margin-inline-start: -0.35em;
}

.chip-container__chip {
  background-color: var(--color-chip-bg);
  border-radius: 3px;
  color: var(--color-chip-text);
  cursor: default;
  margin-block-start: 0.35em;
  margin-inline-start: 0.35em;
  padding-block: 0.6em;
  padding-inline: 0.6em;
}

.expertise-area-list {
  margin-block-start: 1.5em;
}

.expertise-area {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .expertise-area {
    align-items: center;
    flex-direction: row;
  }
}

.expertise-area + .expertise-area {
  margin-block-start: 2em;
}

@media screen and (min-width: 600px) {
  .expertise-area + .expertise-area {
    margin-block-start: 1em;
  }
}

@media screen and (min-width: 600px) {
  .expertise-area__name {
    flex: 0 0 10em;
  }
}

.expertise-area__examples {
  margin-block-start: 0.35em;
}

@media screen and (min-width: 600px) {
  .expertise-area__examples {
    margin-block-start: -0.35em;
  }
}

.timeline-entry {
  display: grid;
  grid-template-areas:
    "title"
    "tenure"
    "tasks";
  margin-block-start: 2em;
}

@media screen and (min-width: 600px) {
  .timeline-entry {
    grid-template-areas:
      "title tenure"
      "tasks tasks";
  }
}

.timeline-entry__who-where {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .timeline-entry__who-where {
    display: block;
  }
}

.timeline-entry__who {
  grid-area: title;
}

.timeline-entry__where {
  font-size: 0.75em;
  margin-block-start: 0.35em;
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
  .timeline-entry__where {
    margin-block-start: 0;
  }
}

.timeline-entry__when {
  align-self: end;
  font-family: var(--font-family-heading);
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  grid-area: tenure;
  margin-block-start: 1em;
}

@media screen and (min-width: 600px) {
  .timeline-entry__when {
    justify-self: end;
    margin-block-start: 0;
  }
}

.timeline-entry__what-list {
  font-size: 1.4em;
  grid-area: tasks;
  line-height: 1.4;
  margin-block-start: 0.5em;
}

@media screen and (min-width: 600px) {
  .timeline-entry__what-list {
    columns: 2;
  }
}

.timeline-entry__what {
  display: inline-flex;
  margin-block-start: 0.5em;
  padding-inline-start: 1em;
}

.timeline-entry__what::before {
  content: "\2022";
  margin-inline-end: 0.5em;
}

.endorsement-list {
  margin-block-start: 2em;
}

.endorsement + .endorsement {
  margin-block-start: 2em;
}

.endorsement__detail-container {
  margin-block-start: 1.5em;
}

.endorsement__detail {
  display: flex;
  line-height: 1.4;
}

.endorsement__detail + .endorsement__detail {
  margin-block-start: 0.8em;
}

.endorsement__detail__title {
  flex: 0 0 8em;
}

.endorsement__detail__value {
  font-size: 1.4em;
}

.endorsement__detail__link-list {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: -0.5em;
  margin-inline-start: -0.5em;
  overflow: hidden;
}

.endorsement__detail__link-wrapper {
  margin-block-start: 0.5em;
  margin-inline-start: 0.5em;
  overflow: hidden;
}

.endorsement__detail__link {
  align-items: center;
  background-color: var(--color-button-background);
  border: 1px solid var(--color-button-border);
  border-radius: 12px;
  display: flex;
  height: 48px;
  padding-inline: 1em;
  position: relative;
}

.endorsement__detail__link::before {
  background-color: var(--color-button-background-active);
  border: 1px solid var(--color-button-border-active);
  border-radius: 12px;
  content: "";
  display: block;
  height: calc(100%);
  left: -1px;
  opacity: 0;
  position: absolute;
  top: -1px;
  transition: opacity 250ms;
  width: calc(100%);
}

.endorsement__detail__link:focus {
  outline: 0;
}

.endorsement__detail__link:focus::before,
.endorsement__detail__link:hover::before,
.endorsement__detail__link:active::before {
  opacity: 1;
}

.endorsement__detail__link__icon {
  fill: var(--color-button-icon);
  flex: 0 0 16px;
  height: 16px;
  position: relative;
}

.endorsement__detail__link__text {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.endorsement__detail__link__icon + .endorsement__detail__link__text {
  margin-inline-start: 0.35em;
}
