/* Reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* Project styles */
body {
  color: hsl(0, 0%, 20%);
  font-family: "Quicksand", sans-serif;
  font-size: 0.625rem;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 840px;
  padding-block: 6em;
  padding-inline: 2em;
}
.heading {
  font-family: "Raleway", serif;
}
.heading--page-title {
  font-size: 4.8em;
  font-weight: 200;
}
.heading--page-subtitle {
  color: hsl(0, 0%, 45%);
  font-size: 2.6em;
  font-weight: 200;
  margin-block-start: 0.4em;
}
.heading--section-title {
  border-block-end: 1px solid hsl(0, 0%, 80%);
  font-size: 1.8em;
  font-weight: 600;
  padding-block-end: 0.6em;
}
.heading--subsection-title {
  font-size: 1.6em;
}
.heading--subsection-line-title {
  color: hsl(0, 0%, 45%);
  font-size: 1.4em;
  font-style: italic;
  font-weight: 500;
}
.resume-section {
  margin-block-start: 4em;
}
.chip-container {
  display: flex;
}
.chip-container__chip {
  background-color: hsl(0, 0%, 85%);
  border-radius: 3px;
  cursor: default;
  font-size: 1.4em;
  font-weight: 300;
  margin-inline-end: 0.6em;
  padding-block: 0.6em 0.4em;
  padding-inline: 0.6em;
}
.expertise-area {
  align-items: center;
  display: flex;
  margin-block-start: 1em;
}
.expertise-area__name {
  min-width: 10em;
}
.timeline-entry {
  display: grid;
  grid-template-areas:
    "title tenure"
    "tasks tasks";
  margin-block-start: 2em;
}
.timeline-entry__who {
  grid-area: title;
}
.timeline-entry__where {
  font-size: 0.75em;
}
.timeline-entry__when {
  align-self: end;
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  grid-area: tenure;
  justify-self: end;
}
.timeline-entry__what-list {
  font-size: 1.4em;
  font-weight: 300;
  grid-area: tasks;
  list-style: disc;
  line-height: 1.4;
  margin-inline-start: 2em;
  margin-block-start: 1em;
}
.timeline-entry__what + .timeline-entry__what {
  margin-block-start: 0.5em;
}
.endorsement-list {
  margin-block-start: 2em;
}
.endorsement + .endorsement {
  margin-block-start: 2em;
}
.endorsement__detail-container {
  margin-block-start: 1.5em;
}
.endorsement__detail {
  display: flex;
  line-height: 1.4;
}
.endorsement__detail + .endorsement__detail {
  margin-block-start: 0.8em;
}
.endorsement__detail__title {
  min-width: 10em;
}
.endorsement__detail__value {
  font-size: 1.4em;
  font-weight: 300;
}
.endorsement__detail__value + .endorsement__detail__value {
  margin-block-start: 0.3em;
}
.endorsement__detail__value-link {
  align-items: center;
  display: flex;
}
.endorsement__detail__value-link__icon {
  fill: hsl(0, 0%, 40%);
  height: 16px;
  width: 16px;
}
.endorsement__detail__value-link__icon + .endorsement__detail__value-link__text {
  margin-block-start: 0.3em;
}
